@font-face {
	font-family: "Muster";
	src: url("./assets/fonts/muster-webfont.woff") format("woff"),
		url("./assets/fonts/muster-webfont.woff2") format("woff2"),
		url("./assets/fonts/Muster.otf") format("opentype");
	/* url("css/fonts/Harabara.svg#filename") format("svg"); */
}

:root {
	--mainYellow: #b8810a;
	--darkerYellow: #5a3f03;
	--mainBlue: #08507a;
	--lighterBlue: #2776a3;
	--backgroundGrey: rgb(34, 33, 33);
	--mainWhite: #bbc0ab;
	--modalBackground: rgb(199, 196, 196);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--backgroundGrey);
}

.backhome-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.back-home {
	background-color: var(--mainBlue);
	height: 3rem;
	width: 20%;
	margin: 0.5rem;
	border-radius: 1rem;
	color: var(--mainWhite);
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 1px;
	text-decoration: none;
}

.title {
	padding-bottom: 4rem;
}

.titleName {
	display: inline-block;
	margin-left: 20%;
	/* margin-top: 10px; */
}

.namePicTwo {
	width: 130px;
	height: auto;
	transform: rotate(-3grad);
}

.titleDescription {
	margin-left: 66%;
	margin-right: 5%;
	margin-top: -25%;
	z-index: 100;
	/* padding-bottom: 70px; */
}

#titleDescription {
	font-size: 0.9em;
	color: var(--mainYellow);
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Jura", sans-serif;
	line-height: 0.9;
}

.contact {
	display: flex;
	justify-content: space-evenly;
	margin-top: -1rem;
	margin-bottom: 1rem;
}

.contact a {
	color: var(--mainWhite);
}

.contact a:hover {
	color: var(--mainBlue);
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
}

.about {
	margin: 2rem;
	color: black;
	font-family: "Raleway", sans-serif;
	line-height: 1.1;
	border: 0 solid #fff;
	border-radius: 0.25rem;
	padding: 0.75rem;
	background-color: rgba(255, 255, 255, 0.35);
}

.aboutParagraphs {
	margin-bottom: 15px;
	text-align: justify;
}

.linkToResume {
	color: var(--darkerYellow);
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
	font-weight: 800;
}

.linkToResume:hover {
	color: var(--mainBlue);
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.sectionLabel {
	color: var(--lighterBlue);
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
	font-weight: 600;
}

.projectTitles {
	text-transform: uppercase;
	padding-top: 20px;
	margin-left: 20px;
	color: var(--mainWhite);
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

button {
	background-color: var(--backgroundGrey);
	border-color: var(--backgroundGrey);
	width: 100%;
}

.container {
	width: 100%;
	margin-top: 10px;
	position: relative;
	display: flex;
	justify-content: center;
}

.alchemyContainer {
	width: 100%;
	margin-top: 10px;
	position: relative;
	display: flex;
	justify-content: center;
}

/* project images, hover text and modals */

.screenShot {
	width: auto;
	max-width: 94%;
	height: auto;
	max-height: 150px;
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
	border-radius: 4px;
}

.highlanderScreenshot {
	width: 96%;
}

.partnerScraperScreenshot {
	width: 96%;
}

.highlanderMobile {
	max-height: 90px;
}

.partnerScraperMobile {
	max-height: 95px;
}

.alchemyScreenShot {
	width: auto;
	max-width: 90%;
	height: auto;
	max-height: 150px;
}

.freeFoodScreenShot {
	width: auto;
	max-width: 96%;
	height: auto;
	max-height: 90px;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.container:hover .screenShot {
	opacity: 0.5;
}

.container:hover .middle {
	opacity: 0.8;
}

.textOnHover {
	background-color: var(--mainYellow);
	color: black;
	font-size: 1.5em;
	padding: 16px 32px;
	text-transform: uppercase;
	border-radius: 4px;
}

.imageClick {
	font-size: 0.5em;
	color: var(--mainWhite);
	margin-right: 20px;
	text-align: right;
}
/* end project images, hover text and modals */

.stackUsed {
	margin-left: 5.5%;
	margin-right: 5.5%;
	text-transform: uppercase;
	margin-top: 10px;
	color: #a5ac8e;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.aboutProject {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5.5%;
	margin-right: 5.5%;
	text-align: justify;
	color: var(--mainWhite);
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* link to github code */
a.linkToCode {
	color: var(--mainYellow);
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 5.5%;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link to github code*/
a.linkToCode:hover {
	color: var(--darkerYellow);
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.spacer {
	height: 35px;
}

/* link to hosted sites */
a.linkToHosted {
	color: var(--lighterBlue);
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 100px;
	margin-left: 5.5%;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link to hosted sites */
a.linkToHosted:hover {
	color: var(--mainBlue);
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.aboutPersonal {
	margin-bottom: 30px;
	color: var(--mainWhite);
	font-family: "Raleway", sans-serif;
}

.personalParagraph {
	margin: 15px 35px 20px 35px;
	text-align: justify;
	line-height: 1.1;
}

.gibbyContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.gibby {
	width: 35%;
	height: auto;
	max-height: 180px;
	border-radius: 6px;
}

.footer {
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 0.05);
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	font-size: 1em;
	font-weight: 500px;
	color: var(--mainYellow);
	font-family: "Jura", sans-serif;
}

.modal {
	width: 98%;
	height: auto;
	position: fixed;
	top: 25px;
	padding: 12px;
	background-color: var(--modalBackground);
	max-height: calc(115vh - 210px);
	overflow-y: auto;
}

.vidModal {
	width: 98%;
	height: auto;
	position: fixed;
	top: 25px;
	padding: 12px;
	border-radius: 4px;
	background-color: var(--modalBackground);
}

.fieldGuideModal {
	width: 90%;
	height: auto;
	position: fixed;
	top: 0;
	padding: 12px;
	border-radius: 4px;
	background-color: var(--modalBackground);
}

.modal-close-button {
	width: 50px;
	height: 30px;
	border-radius: 6px;
	background-color: black;
	color: white;
}

.modalImage {
	width: 90%;
	height: auto;
	margin-left: 5%;
	margin-right: auto;
	border-radius: 4px;
}

.modalVid {
	margin-top: 15px;
}

.fieldGuideVid {
	margin-top: 10px;
}

/* Media query for 500
//////////////////////////////
////////////////////////////////
////////////////////////////////
////////////////////////////////
////////////////////////////
/////////////////////// */
@media screen and (min-width: 500px) {
	.title {
		padding-bottom: 4rem;
	}

	.titleName {
		margin-left: 24%;
		padding-top: 1rem;
	}

	.namePicTwo {
		width: 170px;
	}

	.titleDescription {
		margin-left: 60%;
		margin-top: -15%;
		/* padding-bottom: 55px; */
	}

	#titleDescription {
		font-size: 1.1em;
	}

	.contact {
		margin-top: 1rem;
	}

	.headerParallax {
		margin: 2rem 0 2rem 0;
	}

	.about {
		margin: 3rem 18% 3rem 18%;
		font-size: 1.1em;
		color: black;
	}

	.sectionLabel {
		padding-top: 40px;
	}

	.projectTitles {
		padding-top: 30px;
		margin-left: 16%;
		font-size: 1.2em;
	}

	/* project images, hover text and modals */

	.screenShot {
		width: 72%;
		max-height: 1000px;
	}

	.highlanderScreenshot {
		width: 75%;
	}

	.partnerScraperScreenshot {
		width: 75%;
	}

	.alchemyScreenShot {
		width: 70%;
		height: auto;
		max-height: 1000px;
	}

	.freeFoodScreenShot {
		width: 75%;
		max-height: 1000px;
	}

	.stackUsed {
		margin-left: 16%;
		margin-right: 15%;
		font-size: 1.2em;
	}

	.aboutProject {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 16%;
		margin-right: 16%;
		font-size: 1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 16%;
		font-size: 1em;
	}

	a.linkToCodeAlt {
		margin-left: 15px;
		font-size: 1em;
	}

	/* mouse over link to github code*/
	a.linkToCode:hover {
		font-size: 1.5em;
	}

	a.linkToCodeAlt:hover {
		font-size: 1.5em;
	}

	.linkToResume {
		font-size: 1em;
	}

	.linkToResume:hover {
		font-size: 1.5em;
	}

	.spacer {
		height: 55px;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 16%;
		font-size: 1em;
	}

	/* mouse over link to hosted sites */
	a.linkToHosted:hover {
		font-size: 1.5em;
	}

	.personalParagraph {
		margin: 50px 18% 20px 18%;
		font-size: 1.1em;
		line-height: 1.2;
	}

	.gibby {
		width: 25%;
		max-height: 1000px;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */

	.modal {
		width: 98%;
		height: 700px;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 95%;
		height: auto;
		margin: 2%;
	}

	.fieldGuideModal {
		width: 350px;
		height: auto;
	}

	.modalImage {
		margin-left: 5%;
		margin-right: auto;
		border-radius: 4px;
	}
}

/* Media query for tablets (792px)*/
/* ///////////////////////////// /
//////////////////////////
/////////////////////
///////////////////////
//////////////////////
//////////////////////
/////////////////////////
///////////////////////
//////////////////////*/

@media screen and (min-width: 792px) {
	.header {
		height: 235px;
	}

	.title {
		padding-bottom: 4.5rem;
	}

	.titleName {
		display: inline-block;
		margin-left: 25%;
	}

	.namePicTwo {
		width: 230px;
	}

	.titleDescription {
		margin-left: 58%;
		margin-top: -13%;
	}

	#titleDescription {
		font-size: 1.3em;
	}

	.headerParallax {
		margin: 10rem 0 2rem 0;
	}

	.about {
		margin: 4rem 20% 4rem 20%;
		font-size: 1.2em;
		line-height: 1.2;
	}

	.aboutParagraphs {
		margin-bottom: 20px;
	}

	.projectTitles {
		font-size: 1.3em;
		margin-left: 15%;
	}

	/* project images, hover text and modals */

	.stackUsed {
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.3em;
	}

	.aboutProject {
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 15%;
		font-size: 1.1em;
	}

	a.linkToCodeAlt {
		font-size: 1.1em;
		margin-left: 20px;
	}

	.linkToResume {
		font-size: 1.1em;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 15%;
		font-size: 1.1em;
	}

	.personalParagraph {
		margin: 50px 20% 20px 20%;
		font-size: 1.2em;
		line-height: 1.2;
	}

	.gibby {
		width: 25%;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */

	.modal {
		height: 700px;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 95%;
		height: auto;
		margin: 2%;
	}

	.vidModal {
		width: 75%;
		height: auto;
		margin: 1%;
	}
}

/* Media query for laptops */
/* ///////////////////////////// /
//////////////////////////
/////////////////////
///////////////////////
//////////////////////
//////////////////////
/////////////////////////
///////////////////////
//////////////////////*/

@media screen and (min-width: 1200px) {
	.header {
		height: 300px;
	}

	.title {
		padding-bottom: 6.5rem;
	}

	.titleName {
		display: inline-block;
		margin-left: 25%;
	}

	.namePicTwo {
		width: 250px;
	}

	.titleName {
		display: inline-block;
		margin-left: 28%;
	}

	.titleDescription {
		margin-left: 58%;
		margin-top: -11%;
	}

	#titleDescription {
		font-size: 1.4em;
	}

	.contact {
		display: flex;
		justify-content: space-evenly;
		margin-left: 10%;
		margin-right: 10%;
	}

	.headerParallax {
		margin: 8rem 0 6rem 0;
	}

	.about {
		margin: 4rem 22% 4rem 22%;
		font-size: 1.3em;
		border: 0 solid #fff;
		border-radius: 0.25rem;
		padding: 0.75rem;
		background-color: rgba(255, 255, 255, 0.35);
	}

	.linkToResume {
		font-size: 1.15rem;
	}

	.linkToResume:hover {
		font-size: 1.3rem;
	}

	/* project images, hover text and modals */
	.sectionLabel {
		font-size: 1.8em;
	}

	.projectTitles {
		margin-left: 21%;
		font-size: 1.5em;
	}

	.screenShot {
		width: 60%;
	}

	.highlanderScreenshot {
		width: 65%;
	}

	.partnerScraperScreenshot {
		width: 65%;
	}

	.alchemyScreenShot {
		width: 60%;
		height: auto;
	}

	.freeFoodScreenShot {
		width: 65%;
	}

	.textOnHover {
		font-size: 1.8em;
		padding: 20px 38px;
		text-transform: uppercase;
		border-radius: 4px;
	}

	.stackUsed {
		margin-left: 21%;
		margin-right: 21%;
		font-size: 1.5em;
	}

	.aboutProject {
		margin-left: 21%;
		margin-right: 20%;
		font-size: 1.1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 21%;
		font-size: 1.1em;
	}

	a.linkToCodeAlt {
		margin-left: 20px;
		font-size: 1.1em;
	}

	/* mouse over link to github code*/
	a.linkToCode:hover {
		font-size: 1.5em;
	}

	a.linkToCodeAlt:hover {
		font-size: 1.5em;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 21%;
		font-size: 1.1em;
	}

	/* mouse over link to hosted sites */
	a.linkToHosted:hover {
		font-size: 1.5em;
	}

	.personalParagraph {
		margin: 50px 27% 28px 27%;
		font-size: 1.3em;
	}

	.gibby {
		width: 20%;
		margin-bottom: 30px;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */
	.modal {
		width: 80%;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 65%;
		height: auto;
		margin: 1%;
	}

	.fieldGuideModal {
		width: 350px;
		height: auto;
	}

	.modalImage {
		width: 85%;
		height: auto;
		margin-left: 5%;
		margin-right: auto;
	}

	.modalVid {
		margin-top: 1%;
		width: 80%;
		height: auto;
	}

	.fieldGuideVid {
		margin-top: 10px;
	}
}
