* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: rgb(10, 10, 10);
}

.header {
	height: 165px;
	background: rgba(255, 255, 255, 0.05);
	width: 100%;
}

.title {
	text-transform: uppercase;
}

#titleName {
	color: #926e03;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 25px;
	font-size: 2.4em;
	font-family: "Jura", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

#titleDescription {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 1em;
	color: #926e03;
	font-family: "Jura", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

.contact {
	display: flex;
	justify-content: space-evenly;
}

.contact a {
	color: #666154;
}

.contact a:hover {
	color: #2c0413;
	transition: color 0.5s;
}

.about {
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 30px;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
	line-height: 1.1;
}

.about:hover {
	font-size: 1.1em;
	margin: 25px 25px 15px 25px;
}

.aboutParagraphs {
	margin-bottom: 15px;
	text-align: justify;
}

.sectionLabel {
	color: #666154;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
	font-weight: 500;
}

.projectTitles {
	text-transform: uppercase;
	padding-top: 20px;
	margin-left: 20px;
	color: #666154;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

/* project images, hover text and modals */

button {
	background-color: rgb(10, 10, 10);
	border-color: rgb(10, 10, 10);
	width: 100%;
}

.container {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

.alchemyContainer {
	margin-right: 22px;
	margin-left: 22px;
	margin-top: 10px;
}

.screenShot {
	width: 100%;
	height: auto;
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.container:hover .screenShot {
	opacity: 0.5;
}

.container:hover .middle {
	opacity: 0.8;
}

.textOnHover {
	background-color: #926e03;
	color: black;
	font-size: 1.5em;
	padding: 16px 32px;
	text-transform: uppercase;
	border-radius: 4px;
}

.imageClick {
	font-size: 0.5em;
	color: white;
	margin-right: 20px;
	text-align: right;
}
/* end project images, hover text and modals */

.stackUsed {
	margin-left: 5.5%;
	margin-right: 5.5%;
	text-transform: uppercase;
	margin-top: 10px;
	color: #4e4a40;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.aboutProject {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5.5%;
	margin-right: 5.5%;
	text-align: justify;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* link to github code */
a.linkToCode {
	color: #9403b8;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 20px;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link to github code*/
a.linkToCode:hover {
	color: #670380;
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.spacer {
	height: 35px;
}

/* link to hosted sites */
a.linkToHosted {
	color: goldenrod;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 100px;
	margin-left: 20px;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link to hosted sites */
a.linkToHosted:hover {
	color: #926e03;
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.aboutPersonal {
	margin-bottom: 30px;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
}

.personalParagraph {
	margin: 15px 35px 20px 35px;
	text-align: justify;
	line-height: 1.1;
}

.aboutPersonal:hover .personalParagraph {
	font-size: 1.1em;
	margin: 15px 25px 15px 25px;
}

.gibbyContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.gibby {
	width: 35%;
	height: auto;
	border-radius: 6px;
}

.footer {
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 0.05);
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	font-size: 1em;
	font-weight: 500px;
	color: #926e03;
	font-family: "Jura", sans-serif;
}

.modal {
	width: 375px;
	height: auto;
	position: fixed;
	top: 25px;
	padding: 12px;
	background-color: rgb(199, 196, 196);
	max-height: calc(115vh - 210px);
	overflow-y: auto;
}

.vidModal {
	width: 375px;
	height: auto;
	position: fixed;
	top: 25px;
	padding: 12px;
	border-radius: 4px;
	background-color: rgb(199, 196, 196);
}

.fieldGuideModal {
	width: 350px;
	height: auto;
	position: fixed;
	top: 0;
	padding: 12px;
	border-radius: 4px;
	background-color: rgb(199, 196, 196);
}

.modal-close-button {
	width: 50px;
	height: 30px;
	border-radius: 6px;
	background-color: black;
	color: white;
}

.modalImage {
	width: 80%;
	height: auto;
	margin-left: 10%;
	border-radius: 4px;
}

.modalVid {
	margin-top: 15px;
}

.fieldGuideVid {
	margin-top: 10px;
}

/* Media query for tablets */
/* ///////////////////////////// /
//////////////////////////
/////////////////////
///////////////////////
//////////////////////
//////////////////////
/////////////////////////
///////////////////////
//////////////////////*/

@media screen and (min-width: 768px) {
	.header {
		height: 235px;
	}

	#titleName {
		padding-bottom: 15px;
		padding-top: 55px;
		font-size: 3em;
	}

	#titleDescription {
		padding-bottom: 35px;
		font-size: 1.2em;
	}

	.about {
		margin: 50px 18% 40px 18%;
		font-size: 1.1em;
		line-height: 1.2;
	}

	.about:hover {
		font-size: 1.3em;
		margin: 50px 13% 30px 13%;
	}

	.aboutParagraphs {
		margin-bottom: 20px;
	}

	.projectTitles {
		padding-top: 30px;
		margin-left: 11%;
		font-size: 1.2em;
	}

	/* project images, hover text and modals */

	.container {
		margin-right: 10%;
		margin-left: 10%;
	}

	.alchemyContainer {
		margin-right: 11%;
		margin-left: 11%;
	}

	.stackUsed {
		margin-left: 11%;
		font-size: 1.2em;
	}

	.aboutProject {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 11%;
		margin-right: 11%;
		font-size: 1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 11%;
		font-size: 1em;
	}

	a.linkToCodeAlt {
		margin-left: 15px;
		font-size: 1em;
	}

	/* mouse over link to github code*/
	a.linkToCode:hover {
		font-size: 1.5em;
	}

	a.linkToCodeAlt:hover {
		font-size: 1.5em;
	}

	.spacer {
		height: 55px;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 11%;
		font-size: 1em;
	}

	/* mouse over link to hosted sites */
	a.linkToHosted:hover {
		font-size: 1.5em;
	}

	.personalParagraph {
		margin: 50px 18% 20px 18%;
		font-size: 1.1em;
		line-height: 1.2;
	}

	.aboutPersonal:hover .personalParagraph {
		font-size: 1.3em;
		margin: 50px 13% 20px 13%;
	}

	.gibby {
		width: 25%;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */

	.modal {
		width: 760px;
		height: 700px;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 95%;
		height: auto;
		margin: 2%;
	}

	.fieldGuideModal {
		width: 350px;
		height: auto;
	}

	.modalImage {
		width: 80%;
		height: auto;
		margin-left: 10%;
		border-radius: 4px;
	}
}

/* Media query for laptops */
/* ///////////////////////////// /
//////////////////////////
/////////////////////
///////////////////////
//////////////////////
//////////////////////
/////////////////////////
///////////////////////
//////////////////////*/

@media screen and (min-width: 1200px) {
	.header {
		height: 285px;
	}

	#titleName {
		padding-bottom: 20px;
		padding-top: 70px;
		font-size: 4em;
	}

	#titleDescription {
		padding-bottom: 35px;
		font-size: 1.6em;
	}

	.about {
		margin: 75px 25% 85px 25%;
		font-size: 1.3em;
	}

	.about:hover {
		font-size: 1.5em;
		margin: 75px 20% 65px 20%;
	}

	.sectionLabel {
		font-size: 1.8em;
	}

	.projectTitles {
		margin-left: 14%;
		font-size: 1.5em;
	}

	/* project images, hover text and modals */

	.container {
		margin-right: 13%;
		margin-left: 13%;
	}

	.alchemyContainer {
		margin-right: 13%;
		margin-left: 13%;
	}

	.textOnHover {
		background-color: #926e03;
		color: black;
		font-size: 1.8em;
		padding: 20px 38px;
		text-transform: uppercase;
		border-radius: 4px;
	}

	.stackUsed {
		margin-left: 14%;
		font-size: 1.5em;
	}

	.aboutProject {
		margin-left: 14%;
		margin-right: 20%;
		font-size: 1.1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 14%;
		font-size: 1.1em;
	}

	a.linkToCodeAlt {
		margin-left: 20px;
		font-size: 1.1em;
	}

	/* mouse over link to github code*/
	a.linkToCode:hover {
		font-size: 1.5em;
	}

	a.linkToCodeAlt:hover {
		font-size: 1.5em;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 14%;
		font-size: 1.1em;
	}

	/* mouse over link to hosted sites */
	a.linkToHosted:hover {
		font-size: 1.5em;
	}

	.personalParagraph {
		margin: 50px 25% 25px 25%;
		font-size: 1.3em;
	}

	.aboutPersonal:hover .personalParagraph {
		font-size: 1.5em;
		margin: 50px 20% 25px 20%;
	}

	.gibby {
		width: 20%;
		margin-bottom: 30px;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */

	.modal {
		width: 760px;
		height: 700px;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 95%;
		height: auto;
		margin: 2%;
	}

	.fieldGuideModal {
		width: 350px;
		height: auto;
	}

	.modalImage {
		width: 80%;
		height: auto;
		margin-left: 10%;
		border-radius: 4px;
	}
}
