@font-face {
	font-family: "Muster";
	src: url("./assets/fonts/muster-webfont.woff") format("woff"),
		url("./assets/fonts/muster-webfont.woff2") format("woff2"),
		url("./assets/fonts/Muster.otf") format("opentype");
	/* url("css/fonts/Harabara.svg#filename") format("svg"); */
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: rgb(10, 10, 10);
}

.header {
	height: 175px;
	background: rgba(255, 255, 255, 0.05);
	width: 100%;
}

.titleName {
	display: inline-block;
	margin-left: 20%;
	/* margin-top: 10px; */
}

.namePicTwo {
	width: 130px;
	height: auto;
	transform: rotate(-3grad);
}

.titleDescription {
	margin-left: 66%;
	margin-right: 5%;
	margin-top: -25%;
	z-index: 100;
	padding-bottom: 70px;
}

#titleDescription {
	font-size: 0.9em;
	color: #926e03;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Jura", sans-serif;
	line-height: 0.9;
}

.contact {
	display: flex;
	justify-content: space-evenly;
}

.contact a {
	color: #666154;
}

.contact a:hover {
	color: #2c0413;
	transition: color 0.5s;
}

.about {
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 87px;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
	line-height: 1.1;
}

.aboutParagraphs {
	margin-bottom: 15px;
	text-align: justify;
}

.sectionLabel {
	color: #666154;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
	font-weight: 500;
}

.projectTitles {
	text-transform: uppercase;
	padding-top: 20px;
	margin-left: 20px;
	color: #666154;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

button {
	background-color: rgb(10, 10, 10);
	border-color: rgb(10, 10, 10);
	width: 100%;
}

.container {
	width: 100%;
	margin-top: 10px;
	position: relative;
	display: flex;
	justify-content: center;
}

.alchemyContainer {
	width: 100%;
	margin-top: 10px;
	position: relative;
	display: flex;
	justify-content: center;
}

/* project images, hover text and modals */

.screenShot {
	width: auto;
	max-width: 94%;
	height: auto;
	max-height: 150px;
	opacity: 1;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.highlanderMobile {
	max-height: 90px;
}

.partnerScraperMobile {
	max-height: 95px;
}

.alchemyScreenShot {
	width: auto;
	max-width: 90%;
	height: auto;
	max-height: 150px;
}

.freeFoodScreenShot {
	width: auto;
	max-width: 94%;
	height: auto;
	max-height: 90px;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.container:hover .screenShot {
	opacity: 0.5;
}

.container:hover .middle {
	opacity: 0.8;
}

.textOnHover {
	background-color: #926e03;
	color: black;
	font-size: 1.5em;
	padding: 16px 32px;
	text-transform: uppercase;
	border-radius: 4px;
}

.imageClick {
	font-size: 0.5em;
	color: white;
	margin-right: 20px;
	text-align: right;
}
/* end project images, hover text and modals */

.stackUsed {
	margin-left: 5.5%;
	margin-right: 5.5%;
	text-transform: uppercase;
	margin-top: 10px;
	color: #4e4a40;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.aboutProject {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5.5%;
	margin-right: 5.5%;
	text-align: justify;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* link to github code */
a.linkToCode {
	color: #9403b8;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 5.5%;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link to github code*/
a.linkToCode:hover {
	color: #670380;
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.spacer {
	height: 35px;
}

/* link to hosted sites */
a.linkToHosted {
	color: goldenrod;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 100px;
	margin-left: 5.5%;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link to hosted sites */
a.linkToHosted:hover {
	color: #926e03;
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.aboutPersonal {
	margin-bottom: 30px;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
}

.personalParagraph {
	margin: 15px 35px 20px 35px;
	text-align: justify;
	line-height: 1.1;
}

.gibbyContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.gibby {
	width: 35%;
	height: auto;
	max-height: 180px;
	border-radius: 6px;
}

.footer {
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 0.05);
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	font-size: 1em;
	font-weight: 500px;
	color: #926e03;
	font-family: "Jura", sans-serif;
}

.modal {
	width: 375px;
	height: auto;
	position: fixed;
	top: 25px;
	padding: 12px;
	background-color: rgb(199, 196, 196);
	max-height: calc(115vh - 210px);
	overflow-y: auto;
}

.vidModal {
	width: 375px;
	height: auto;
	position: fixed;
	top: 25px;
	padding: 12px;
	border-radius: 4px;
	background-color: rgb(199, 196, 196);
}

.fieldGuideModal {
	width: 350px;
	height: auto;
	position: fixed;
	top: 0;
	padding: 12px;
	border-radius: 4px;
	background-color: rgb(199, 196, 196);
}

.modal-close-button {
	width: 50px;
	height: 30px;
	border-radius: 6px;
	background-color: black;
	color: white;
}

.modalImage {
	width: 80%;
	height: auto;
	margin-left: 10%;
	border-radius: 4px;
}

.modalVid {
	margin-top: 15px;
}

.fieldGuideVid {
	margin-top: 10px;
}

/* Media query for 500
//////////////////////////////
////////////////////////////////
////////////////////////////////
////////////////////////////////
////////////////////////////
/////////////////////// */
@media screen and (min-width: 500px) {
	.header {
		height: 190px;
		background: rgba(255, 255, 255, 0);
	}

	.titleName {
		margin-left: 25%;
	}

	.namePicTwo {
		width: 180px;
	}

	.titleDescription {
		margin-left: 60%;
		margin-top: -15%;
		padding-bottom: 95px;
	}

	#titleDescription {
		font-size: 1.1em;
	}

	.about {
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.1em;
		margin-top: 160px;
	}

	.sectionLabel {
		padding-top: 40px;
	}

	.projectTitles {
		padding-top: 30px;
		margin-left: 16%;
		font-size: 1.2em;
	}

	/* project images, hover text and modals */

	.screenShot {
		width: 72%;
		max-height: 1000px;
	}

	.alchemyScreenShot {
		width: 70%;
		height: auto;
		max-height: 1000px;
	}

	.freeFoodScreenShot {
		width: 72%;
		max-height: 1000px;
	}

	.stackUsed {
		margin-left: 16%;
		font-size: 1.2em;
	}

	.aboutProject {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 16%;
		margin-right: 16%;
		font-size: 1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 16%;
		font-size: 1em;
	}

	a.linkToCodeAlt {
		margin-left: 15px;
		font-size: 1em;
	}

	/* mouse over link to github code*/
	a.linkToCode:hover {
		font-size: 1.5em;
	}

	a.linkToCodeAlt:hover {
		font-size: 1.5em;
	}

	.spacer {
		height: 55px;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 16%;
		font-size: 1em;
	}

	/* mouse over link to hosted sites */
	a.linkToHosted:hover {
		font-size: 1.5em;
	}

	.personalParagraph {
		margin: 50px 18% 20px 18%;
		font-size: 1.1em;
		line-height: 1.2;
	}

	.gibby {
		width: 25%;
		max-height: 1000px;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */

	.modal {
		width: 760px;
		height: 700px;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 95%;
		height: auto;
		margin: 2%;
	}

	.fieldGuideModal {
		width: 350px;
		height: auto;
	}

	.modalImage {
		width: 80%;
		height: auto;
		margin-left: 10%;
		border-radius: 4px;
	}
}

/* Media query for tablets */
/* ///////////////////////////// /
//////////////////////////
/////////////////////
///////////////////////
//////////////////////
//////////////////////
/////////////////////////
///////////////////////
//////////////////////*/

@media screen and (min-width: 792px) {
	.header {
		height: 235px;
	}

	.titleName {
		display: inline-block;
		margin-left: 25%;
	}

	.namePicTwo {
		width: 250px;
	}

	.titleDescription {
		margin-left: 58%;
		margin-top: -13%;
		padding-bottom: 130px;
	}

	#titleDescription {
		font-size: 1.3em;
	}

	.about {
		margin: 230px 20% 50px 20%;
		font-size: 1.2em;
		line-height: 1.2;
	}

	.aboutParagraphs {
		margin-bottom: 20px;
	}

	.projectTitles {
		font-size: 1.3em;
		margin-left: 15%;
	}

	/* project images, hover text and modals */

	.stackUsed {
		margin-left: 15%;
		font-size: 1.3em;
	}

	.aboutProject {
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 15%;
		font-size: 1.1em;
	}

	a.linkToCodeAlt {
		font-size: 1.1em;
		margin-left: 20px;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 15%;
		font-size: 1.1em;
	}

	.personalParagraph {
		margin: 50px 20% 20px 20%;
		font-size: 1.2em;
		line-height: 1.2;
	}

	.gibby {
		width: 25%;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */

	.modal {
		width: 760px;
		height: 700px;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 95%;
		height: auto;
		margin: 2%;
	}

	.fieldGuideModal {
		width: 350px;
		height: auto;
	}

	.modalImage {
		width: 80%;
		height: auto;
		margin-left: 10%;
		border-radius: 4px;
	}
}

/* Media query for laptops */
/* ///////////////////////////// /
//////////////////////////
/////////////////////
///////////////////////
//////////////////////
//////////////////////
/////////////////////////
///////////////////////
//////////////////////*/

@media screen and (min-width: 1200px) {
	.header {
		height: 350px;
	}

	.titleName {
		display: inline-block;
		margin-left: 25%;
	}

	.namePicTwo {
		width: 300px;
	}

	.titleName {
		display: inline-block;
		margin-left: 28%;
	}

	.titleDescription {
		margin-left: 58%;
		margin-top: -11%;
		padding-bottom: 150px;
	}

	#titleDescription {
		font-size: 1.4em;
	}

	.contact {
		display: flex;
		justify-content: space-evenly;
		margin-left: 10%;
		margin-right: 10%;
	}

	.about {
		margin: 200px 27% 65px 27%;
		font-size: 1.3em;
	}

	/* project images, hover text and modals */
	.sectionLabel {
		font-size: 1.8em;
	}

	.projectTitles {
		margin-left: 21%;
		font-size: 1.5em;
	}

	.screenShot {
		width: 60%;
		/* width: 74%; */
	}

	.alchemyScreenShot {
		/* width: 73%; */
		width: 60%;
		height: auto;
	}

	.freeFoodScreenShot {
		/* width: 74%; */
		width: 60%;
	}

	.textOnHover {
		font-size: 1.8em;
		padding: 20px 38px;
		text-transform: uppercase;
		border-radius: 4px;
	}

	.stackUsed {
		margin-left: 21%;
		font-size: 1.5em;
	}

	.aboutProject {
		margin-left: 21%;
		margin-right: 20%;
		font-size: 1.1em;
	}

	/* link to github code */
	a.linkToCode {
		margin-left: 21%;
		font-size: 1.1em;
	}

	a.linkToCodeAlt {
		margin-left: 20px;
		font-size: 1.1em;
	}

	/* mouse over link to github code*/
	a.linkToCode:hover {
		font-size: 1.5em;
	}

	a.linkToCodeAlt:hover {
		font-size: 1.5em;
	}

	/* link to hosted sites */
	a.linkToHosted {
		margin-left: 21%;
		font-size: 1.1em;
	}

	/* mouse over link to hosted sites */
	a.linkToHosted:hover {
		font-size: 1.5em;
	}

	.personalParagraph {
		margin: 50px 27% 28px 27%;
		font-size: 1.3em;
	}

	.gibby {
		width: 20%;
		margin-bottom: 30px;
	}

	.footer {
		height: 100px;
		padding: 40px;
	}

	/* modals for projects */
	.modal {
		width: 760px;
		height: 700px;
		max-height: calc(125vh - 210px);
		overflow-y: auto;
	}

	.vidModal {
		width: 95%;
		height: auto;
		margin: 2%;
	}

	.fieldGuideModal {
		width: 350px;
		height: auto;
	}

	.modalImage {
		width: 80%;
		height: auto;
		margin-left: 10%;
		border-radius: 4px;
	}
}
