* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: rgb(10, 10, 10);
}

.header {
	height: 165px;
	background: rgba(255, 255, 255, 0.05);
	width: 100%;
}

.title {
	text-transform: uppercase;
}

#titleName {
	color: #926e03;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 25px;
	font-size: 2.4em;
	font-family: "Jura", sans-serif;
	font-weight: 600;
}

#titleDescription {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 1em;
	color: #926e03;
	font-family: "Jura", sans-serif;
	font-weight: 600;
}

.contact {
	display: flex;
	justify-content: space-evenly;
}

.contact a {
	color: #666154;
}

.contact a:hover {
	color: #2c0413;
	transition: color 0.5s;
}

.about {
	margin: 20px;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
}

.sectionLabel {
	color: #a8a3a5;
	text-align: center;
	text-transform: uppercase;
	padding-top: 30px;
	font-family: "Raleway", sans-serif;
}

.projectTitles {
	text-transform: uppercase;
	padding-top: 20px;
	margin-left: 10px;
	color: #666154;
	font-family: "Raleway", sans-serif;
}

.screenShot {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
}

.stackUsed {
	margin-left: 10px;
	text-transform: uppercase;
	margin-top: 10px;
	color: #4e4a40;
	font-family: "Raleway", sans-serif;
}

.aboutProject {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 10px;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* unvisited link */
a.linkToCode {
	color: #9403b8;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link */
a.linkToCode:hover {
	color: #670380;
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

.spacer {
	height: 35px;
}

/* selected link */
/* .linkToCode a:active {
	color: blue;
	text-transform: uppercase;
	text-decoration: none;
} */

/* unvisited link */
a.linkToHosted {
	color: goldenrod;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 100px;
	margin-left: 10px;
	font-family: "Raleway", sans-serif;
	font-size: 0.85em;
}

/* mouse over link */
a.linkToHosted:hover {
	color: #926e03;
	font-size: 1.25em;
	transition: color 0.5s, font 0.5s;
}

/* .imageBackground {
	margin-left: auto;
	margin-right: auto;
	width: 96%;
}

.whiteImageBackground {
	background-color: white;
} */

.aboutPersonal {
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 80px;
	color: #a8a3a5;
	font-family: "Raleway", sans-serif;
}

.footer {
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 0.05);
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	font-size: 1em;
	font-weight: lighter;
	color: #926e03;
}
